<div class="player" [ngClass]="{'active1': playerNumber == 1 && turn, 'active2': playerNumber == 2 && turn}">

    <div *ngIf="playerNumber == 1 || playerNumber == 2">
        <div class="playerLabel">
            Player {{playerNumber}}
            <img src="assets/player.png" alt="" class="player-icon">
            <div *ngIf="turn" class="turn">Your turn!</div>
            <div *ngIf="!turn" class="turn">Waiting...</div>
        </div>
    </div>

    <div *ngIf="playerNumber == 3">
        <div class="playerLabel">
            CPU
        </div>
        <img src="assets/robot.png" alt="" class="player-icon">
        <div *ngIf="turn" class="turn">Calculating...</div>
        <div *ngIf="!turn" class="turn">Waiting...</div>
    </div>

</div>
