<div class="player" [ngClass]="{'active1': playerNumber == 1 && turn, 'active2': playerNumber == 2 && turn, 'winner': winner == playerNumber}">

    <div *ngIf="playerNumber == 1">
        <span class="name">KitchenMate</span>
        <img src="assets/tomatoe.png" alt="" class="player1-icon">
    </div>

    <div *ngIf="playerNumber == 2">
        <span class="name">William Huang</span>
        <img src="assets/william.jpg" alt="" class="player2-icon">
    </div>

    <div *ngIf="playerNumber == 3">
        CPU
        <img src="assets/robot.png" alt="" class="player-icon">
    </div>

    <div>
        {{generateText()}}
    </div>

</div>
