.player {
    border: 1px solid black;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.player-icon {
    max-width: 100%;
}

.active1 {
    background-color: lightblue;
}

.active2 {
    background-color: lightcoral;
}

.playerLabel {
    text-align: center;
}

.turn {
    text-align: center;
}
