<div class="player" [ngClass]="{'active1': playerNumber == 1 && turn, 'active2': playerNumber == 2 && turn, 'winner': winner == playerNumber}">

    <div *ngIf="playerNumber == 1">
        <div class="name">
            KitchenMate
            <img src="assets/donut.svg" alt="" class="icon">
        </div>
        <img src="assets/tomatoe.png" alt="" class="player1-icon">
    </div>

    <div *ngIf="playerNumber == 2">
        <div class="name">
            William Huang
            <img src="assets/cinnamon_sticks.svg" alt="" class="icon">
        </div>
        <img src="assets/william.jpg" alt="" class="player2-icon">
    </div>

    <div *ngIf="playerNumber == 3">
        <div class="name">
            T-1000
            <img src="assets/cinnamon_sticks.svg" alt="" class="icon">
        </div>
        <img src="assets/terminator.jpg" alt="" class="player2-icon">
    </div>

    <div class="speech-bubble">
        {{generateText()}}
    </div>

</div>
