.player {
    border: 1px solid black;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}

.player1-icon {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.player2-icon {
    max-width: 100%;
}

.active1 {
    background-color: lightblue;
}

.active2 {
    background-color: lightcoral;
}

.winner {
    background-color: yellow;
}
