<div class="container">

    <div class="players row">
        <div class="col m3 hide-on-small-only"></div>
        <div class="col m3 s6 first_player">
            <app-player [playerNumber]="1" [turn]="currentPlayer == 1" [winner]="gameState" [computer]="isComputer"></app-player>
        </div>
        <div *ngIf="!isComputer" class="col m3 s6">
            <app-player [playerNumber]="2" [turn]="currentPlayer == 2" [winner]="gameState" [computer]="isComputer"></app-player>
        </div>
        <div *ngIf="isComputer" class="col m3 s6">
            <app-player [playerNumber]="3" [turn]="currentPlayer == 2" [winner]="gameState" [computer]="isComputer"></app-player>
        </div>
        <div class="col m3 hide-on-small-only"></div>
    </div>

    <div *ngIf="gameState != 0" class="gameover">
        <div *ngIf="gameState == 1 || gameState == 2">
            <p *ngIf="gameState == 1">Congratulations! KitchenMate has won the round!</p>
            <p *ngIf="gameState == 2">Congratulations! William has won the round!</p>
            <a class="waves-effect waves-light btn-small" (click)="resetGame()">Play Again</a>
            <a *ngIf="!isComputer" class="waves-effect waves-light btn-small red" (click)="playCPU(true)">Play an A.I.</a>
            <a *ngIf="isComputer" class="waves-effect waves-light btn-small red" (click)="playCPU(false)">Play 2 Player</a>
        </div>
        <div *ngIf="gameState == 3">
            <p>The CPU has beaten you! The robot uprising has truly begun.</p>
            <a class="waves-effect waves-light btn-small" (click)="resetGame()">Play Again</a>
        </div>
        <div *ngIf="gameState == 4">
            <p>It's a tie!</p>
            <a class="waves-effect waves-light btn-small" (click)="resetGame()">Play Again</a>
        </div>
    </div>

    <div *ngIf="gameState == 0" class="challenge">
        <p *ngIf="!isComputer">Want a real challenge? Face the our A.I.!</p>
        <p *ngIf="isComputer">Computer too hard? Switch back to William!</p>
        <a *ngIf="!isComputer" class="waves-effect waves-light btn-small red" (click)="playCPU(true)">Play an A.I.</a>
        <a *ngIf="isComputer" class="waves-effect waves-light btn-small red" (click)="playCPU(false)">Play 2 Player</a>
    </div>

    <div class="grid">
        <div class="row piece-row">
            <div *ngFor="let piece of pieces; let i = index" class="col s4 piece"  (click)="setPiece(i)">
                <app-piece [choice]="piece"></app-piece>
            </div>
        </div>
    </div>
</div>
